{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    page.sidebar_first or page.sidebar_second ? 'has-sidebar' : 'no-sidebars',
    page.sidebar_first and page.sidebar_second ? 'both-sidebars',
    page.sidebar_first ? 'sidebar-first',
    page.sidebar_second ? 'sidebar-second',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <link rel="apple-touch-icon" sizes="57x57" href="/themes/custom/utawesome/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/themes/custom/utawesome/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/themes/custom/utawesome/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/themes/custom/utawesome/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/themes/custom/utawesome/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/themes/custom/utawesome/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/themes/custom/utawesome/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/themes/custom/utawesome/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/themes/custom/utawesome/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/themes/custom/utawesome/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/themes/custom/utawesome/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/themes/custom/utawesome/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/themes/custom/utawesome/favicon-16x16.png">
    <link rel="manifest" href="/themes/custom/utawesome/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/themes/custom/utawesome/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
