{%
  set classes = [
    'views-card',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article {{ attributes.addClass(classes) }}>
  <a href="{{ url }}" rel="bookmark">

    <div class="card-image">
      {{ content.field_image.0 }}
    </div>

    <div>
      <h3 class="card-title">
        {{ label }}
      </h3>

      {% if not (node.field_location.isEmpty == true) %}
      <div class="card-location">
        {{ content.field_location.0 }}
      </div>
      {% endif %}

      {% if not (node.field_post_date.isEmpty == true) %}
      <div class="card-date">
        {{ content.field_post_date }}
      </div>
      {% endif %}

      {% if not (node.flag_add_to_trip.isEmpty == true) %}
      <div class="card-flag">
        {{ content.flag_add_to_trip }}
      </div>
      {% endif %}
    </div>

  </a>
</article>

